@import url('https://fonts.googleapis.com/css?family=Mukta');

body {
    background-image: url("/static/imgs/wood-background.jpg");
    background-size: unset;

}

#card-table {
    background-image: url("/static/imgs/tablebackgroundfinal.jpg");
    background-size: 137vh 77vh;
    position: relative;
    height: 77vh;
    width: 137vh;
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    display: flex;
}

#card-table .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

#card-table .card {
    width: 11.5vh;
    height: 15.50vh;
    position: absolute;
    cursor: pointer;
    top: 303px;
    left: 464px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}

#card-table .card .side {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    overflow: auto;
    backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
}

#card-table .card .back {
    background-image: url('/static/imgs/cards.png');
    transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg); /* IE 9 */
    -moz-transform: rotatey(-180deg); /* Firefox */
    -webkit-transform: rotatey(-180deg); /* Safari and Chrome */
    -o-transform: rotatey(-180deg); /* Opera */
}

#card-table .card .front {
    background-image: url('/static/imgs/cards.png');
}

#card-table .card .back {
    background-image: url('/static/imgs/cards.png');
}

.welcome {
    text-align: center;
    border: #9C1A1C solid 5px;
}
#display{
    font-size: 5vh;
    border: goldenrod;
    border-style: groove;
    border-radius: 15px;
    background: lightgrey;
    width: 50%
}

#bank {
    font-size: 5vh;
    border: goldenrod;
    border-style: groove;
    border-radius: 15px;
    background: lightgrey;
    width: 30%
}

.table {
    border: black solid 3px;
    border-radius: 5px;
}

.tokens, .reset {
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    height:  7vh;
    width: 7vh;
}

.first-set {
    display: flex;
    height: 7vh;
}

.start {
    cursor: pointer;
    background-color: rgba(236, 48, 20, 0.9);
    color: black;
    padding: 18px 20px;
    font-size: 1em;
    font-family: "Mukta";
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 20px;
    border-radius: 100px;
}

.start:hover {
    box-shadow: 5px 5px gray;
}

body {
    padding: 0;
    position: relative;
}

#casino_bitch{
    top: 13%;
    left: 86%;
    float: right;
    position: absolute;
    height: 70vh;
    width: 80vh;}