body {
    background-image: url("/static/imgs/casinobg3.jpg");
    background-size: cover;
    background-position: inherit;
}

#card-table {
    position: relative;
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
}

#card-table .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

#card-table .card {
    width: 69px;
    height: 94px;
    position: absolute;
    cursor: pointer;
    top: 303px;
    left: 464px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}

#card-table .card .side {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    overflow: auto;
    backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
}

#card-table .card .back {
    background-image: url('/static/imgs/cardtesst1.png');
    transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg); /* IE 9 */
    -moz-transform: rotatey(-180deg); /* Firefox */
    -webkit-transform: rotatey(-180deg); /* Safari and Chrome */
    -o-transform: rotatey(-180deg); /* Opera */
}

#card-table .card .front {
    background-image: url('/static/imgs/cards.png');
}

#card-table .card .back {
    background-image: url('/static/imgs/cards.png');
}

.welcome {
    text-align: center;
    border: #9C1A1C solid 5px;
}
#display{font-size: 80px;
    float: top;
    border: goldenrod;
    border-style: groove;
    border-radius: 15px;
    background: lightgrey;
    width: 50%}
.tokens,.reset {background: none;
        border: none; }

#tokenbtn { width: 100px;
        height: 100px;
}

#all_in{max-width: 140px;
max-height: 140px}
#casino_girl {max-height:80%;
    float: left;
    padding-top: 20px;
    padding-right: 30px;
}
.main_stuff{display: flex;
position: fixed}
/*.table{ margin-top: 10.8%;*/
/*    margin-right: 0%;*/
/*    width: 800px;*/
/*    position: fixed*/
/*}*/
/*body{padding: 0}*/