<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betting page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/betting.js" defer></script>
</head>
<body>
    <div>
        <button class="tokens" id="btn10" > <img src="/static/imgs/token10.png" width="60px" height="60" ></button>
        <button class="tokens" id="btn20"><img src="/static/imgs/token20.png" width="60px" height="60" ></button>
        <button class="tokens" id="btn50"><img src="/static/imgs/token50.png" width="60px" height="60" ></button>
        <button class="tokens" id="btn100"><img src="/static/imgs/token100.png" width="60px" height="60" ></button>
        <button class="tokens" id="all_in"><img src="/static/imgs/finalallin.png" width="60px" height="60"></button>
    </div>
    <div id="display">0
    </div>
    <button class="reset" id="reset"><img src="/static/imgs/reset1.png" width="60px" height="60"></button>
    <a id="start" href="/index">Lets Play</a>
</body>
</html>