<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Betting page</title>-->
<!--    <link rel="stylesheet" href="/static/css/styles.css">-->
<!--    <script src="/static/js/betting.js" defer></script>-->
<!--</head>-->
<!--<body>-->
<!--    <a id="start" href="/index">Lets Play</a>-->
<!--    <div id="display">Place your bets.</div>-->

<!--    <div class="main_stuff">-->
<!--        <div class="tokens">-->
<!--        <button class="tokens" id="btn10"><img alt="" src="/static/imgs/token10.png" class="tokenbtn"></button>-->
<!--        <button class="tokens" id="btn20"><img alt="" src="/static/imgs/token20.png" class="tokenbtn"></button>-->
<!--        <button class="tokens" id="btn50"><img alt="" src="/static/imgs/token50.png" class="tokenbtn"></button>-->
<!--        <button class="tokens" id="btn100"><img alt="" src="/static/imgs/token100.png" class="tokenbtn"></button>-->
<!--        <button class="tokens" id="all_in"><img alt="" src="/static/imgs/finalallin.png" class="all_in"></button>-->
<!--        <button class="reset" id="reset"><img alt="" src="/static/imgs/reset1.png" class="tokenbtn"></button>-->
<!--        </div><br>-->
<!--        <div class="table"><img alt="" width="1200" height="700" src="/static/imgs/table.jpg"></div>-->
<!--    </div>-->
<!--    <div class="playing">-->
<!--    <script src="/static/js/javafile.js" defer></script>-->
<!--        <h1 class="welcome">Welcome, have a seat!</h1>-->

<!--        <button onclick="stackShuffle(cardsId)">Shuffle the cards</button>-->
<!--        <button onclick="flipCards(cardsId)">Flip the cards</button>-->
<!--        <button onclick="displayCards(cardsId)">Display the cards</button>-->
<!--        <button onclick="intoDeck(cardsId)">Into Deck</button>-->
<!--        <div id="card-table"></div>-->
<!--       </div>-->
<!--</body>-->
<!--</html>-->
