<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project game</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/javafile.js" defer></script>

</head>
<body>

<h1 class="welcome">Welcome, have a seat!</h1>
<div id="display">Place your bets.</div>
    <div class="first-set">
        <div class="tokens" id="btn10" style="background-image: url('/static/imgs/token10.png')"></div>
        <div class="tokens" id="btn20" style="background-image: url('/static/imgs/token20.png')"></div>
        <div class="tokens" id="btn50" style="background-image: url('/static/imgs/token50.png')"></div>
        <div class="tokens" id="btn100" style="background-image: url('/static/imgs/token100.png')"></div>
        <div class="tokens" id="all_in" style="background-image: url('/static/imgs/finalallin1.png')"></div>
        <div class="tokens" id="reset" style="background-image: url('/static/imgs/reset1.png')"></div>
    </div>

    <div id="card-table"><img id="casino_bitch" src="/static/imgs/casinobitchfinal.png"></div>
    <button style="float: left" onclick="stackShuffle(cardsId)">Shuffle the cards</button>
    <button style="float: left" onclick="flipCards(cardsId)">Flip the cards</button>
    <button style="float: left" onclick="displayCards(cardsId)">Display the cards</button>
    <button style="float: left" onclick="intoDeck(cardsId)">Into Deck</button>
    <button style="float: left" onclick="newGame()">New Game</button>
    <button style="float: left" onclick="standButton()">Stand</button>
</body>
</html>