<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project game</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/javafile.js" defer></script>

</head>
<body>
<h1 class="welcome">Welcome, have a seat!</h1>

<button onclick="stackShuffle(cardsId)">Shuffle the cards</button>
<button onclick="flipCards(cardsId)">Flip the cards</button>
<button onclick="displayCards(cardsId)">Display the cards</button>
<button onclick="intoDeck(cardsId)">Into Deck</button>
<div id="cards"></div>
</body>
</html>